body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
  }
  
.navbar .logo {
    color: white;
    font-size: 1.5em;
  }
  
.navbar .nav-links {
    display: flex;
    list-style: none;
  }
  
.navbar .nav-links li {
    margin: 0 15px;
  }
  
.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
.navbar .buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 0.3rem;
    border: none;
  }

/* Navbar 2 */
.navbar2 {
    padding: 10px 20px;
    margin-top: 1rem;
    background-color: #ad7f7f;
  }

.navbar2 .nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
  
.navbar2 .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

/* Navbar 3 */

.navbar3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 1rem;
    background-color: #773030;
  }
  
.navbar3 .logo {
    color: white;
    font-size: 1.5em;
  }
  
.navbar3 .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    padding: 0;
  }
  
.navbar3 .nav-links li {
    margin: 0 15px;
  }
  
.navbar3 .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  

/*Navbar 4*/
.navbar4 {
    padding: 10px 20px;
    margin-top: 1rem;
    background-color: #3b4966;
  }

.navbar4 .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
.navbar4 .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  